<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrafficInsight</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add custom styles here if needed */
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mb-4">TrafficInsight</h1>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="video" class="form-label">Upload Video (MP4 only)</label>
                        <input type="file" class="form-control" id="video" name="video" accept=".mp4">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
                <p class="mt-2">{{upload_message}}</p>

                <form action="/process" method="GET" class="mt-4">
                    <button type="submit" class="btn btn-success" id="process-button" onclick="showLoader()">Process Video</button>
                </form>

                <!-- Loading Spinner -->
                <div class="text-center mt-4" id="loading-spinner" style="display: none;">
                    <p>The video is being processed...</p>
                    <img src="https://i.gifer.com/origin/8b/8b4d5872105584fe9e2d445bea526eb5_w200.gif" alt="Loading..." style="padding-top: 20px; width: 150px; height: 170px;">
                </div>

                <!-- Success Message -->
                <h3 class="mt-4" id="process-completed" style="display: none;">{{message}}</h3>
            </div>

            <div class="col-md-6">
                <div class="mt-4" style="padding-left:180px;">
                    <!-- Display Output and Download Buttons -->
                    {% if csv_exists %}
                    <!-- <a href="/display_output" class="btn btn-info" style="margin-right: 10px;">Show Output</a> -->
                    <a href="/download"  id="download_output_button" class="btn btn-info">Download CSV File</a>
                    {% endif %}
                </div>
                
                <div class="mt-4">
                    <!-- Display the table here -->
                    <div class="table-responsive" id="table">
                        {{ table_html | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript to show/hide the loader -->
    <script>
        function showLoader() {
            document.getElementById("process-button").style.display = "none";
            document.getElementById("loading-spinner").style.display = "block";
        }
    </script>
</body>
</html>
